<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Weather App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <h1 *ngIf="!dataService.existUrl">Loading...</h1>
    <button *ngIf="dataService.existUrl" (click)="getWeather()" class="btn">Get Weather</button>
    <div class="container" *ngIf="wasRequest">
        <h2>Weather: {{data[0]}}</h2>
        <h2>Temperature: {{data[1]}}	&#176;C</h2>
    </div>
  </ion-content>
</ion-app>
